.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid #e6e6e6ec;
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.menu-icon {
  height: 24px;
  margin: 0 24px;
  cursor: pointer;
}

.menu-icon:hover {
  transition: all 0.3s;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.youtube-logo {
  height: 22px;
  cursor: pointer;

}

.middle-section {
  flex: 1;
  max-width: 600px;
  margin: 0 35px 0 70px;
  display: flex;
  align-items: center;
}

.search-bar {
  height: 40px;
  flex: 1;
  padding-left: 14px;
  font-size: 16px;
  border: 1px solid #c6c6c6;
  border-radius: 40px 0 0 40px;
  box-shadow: inset 0 1px 2px #eee;
  width: 0;
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 64px;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  border-radius: 0 40px 40px 0;
  margin: 10px -1px;
  cursor: pointer;
}

.search-button:hover,
.voice-search-button:hover {
  background-color: #e6e6e6;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.notification-icon-container .tooltip {
  font-size: 12px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: -33px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.notification-icon-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.search-icon {
  height: 32px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  margin-left: 14px;
  cursor: pointer;
}

.voice-icon {
  height: 25px;
  margin-top: 4px;
}

.right-section {
  width: 200px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon,
.app-icon,
.notifications-icon {
  height: 26px;
  cursor: pointer;
}

.search-button,
.voice-search-button,
.notification-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-count {
  background-color: #e1002d;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border: 2px solid #fff;
  border-radius: 22px;
  padding: 0 4px;
  position: absolute;
  text-align: center;
  top: -4px;
  left: 12px;
  height: 16px;
  min-width: 8px;
  max-width: 18px;
}

.current-profile-picture {
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-bar {
    display: none;
  }
  .search-button {
    background-color: transparent;
    border-radius: none;
    width: 40px;
    border: none;
  }
  .search-button:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
  }
}
