* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

p {
  margin: 0;
}

.overlay {
  padding: 80px 0 0 96px;
}

@media (max-width: 768px) {
  .overlay {
    padding: 80px 12px 0 12px;
  }
}