.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 30px;
  padding: 0 24px 24px 0;
}

@media (max-width: 1140px) and (min-width: 481px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 4px;
  padding: 1px 4px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
}

.video-title {
  color: #36130a;
  margin: 0 0 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.video-title-link {
  text-decoration: none;
  color: #36130a;
}

.video-author,
.video-stats {
  font-size: 14px;
  color: #6e453a;
}

.video-author {
  margin-bottom: 4px;
}

.video-author-link{
  text-decoration: none;
  color: #6e453a;
}

.video-author-link:hover {
  color: #36130a;
}
